<div class="filters">
  <input
    #searchInput
    type="text"
    placeholder="Пошук..."
    [(ngModel)]="searchQuery"
    (ngModelChange)="onFilterChange()"
  />

  <select
    [(ngModel)]="selectedCategory"
    (ngModelChange)="onFilterChange()"
  >
    <option value="All">Всі</option>
    <option value="Makeup">Makeup</option>
    <option value="Skincare">Skincare</option>
    <option value="Hair">Hair</option>
  </select>

  <button (click)="resetFilters(searchInput)">
    Очистити
  </button>
</div>

@if (products$ | async; as products) {
  <div class="grid">
    @for (item of products; track item.id) {
      <cosm-card
        [item]="item"
        (addToCart)="handleCardAction($event)">
      </cosm-card>
    }
  </div>
} @else {
  <p>Завантаження...</p>
}